.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  text-align: center;
  display: flex !important;
  width: 100%;
  height: 100%;
}
.sub-container {
  text-align: left;
  justify-content: left;
  align-items: left;
  display: flex !important;
  flex-direction: column;
  width: 100%;
  height: 10%;
  margin-left: 2%;
  margin-top: 5%;
  background-color: lightgrey;
  border-style: solid;
  border-color: blue;
}

.inner {
  display: grid;
  height: 50%;
  width: 100%;
  background-color: blue;
}

.box {
  display: inline-block;
  text-align: left;
  list-style-type: inherit;
  margin-left: 4%;
  margin-right: 4%;
  text-align: center;
  padding-right: 110px;
  padding-left: 100px;
  width: 100px;
  height: 150px;
}

.event-parent-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
}

.event-parent-box img {
  max-width: 100%;
}

.event-child-special {
  grid-column: 1/4;
}

.event-data {
  position: absolute;
  bottom: 0;
  backdrop-filter: blur(5px);
  width: 100%;
}

.search {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}

.Carousel> .item > img {
  margin: 0 auto;
  width:100%; 
  height: auto;
   /* margin: auto;  */
}
/* .carousel-inner > .item > img {
  margin: 0 auto;
} */
