.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-item{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: inline;
  float: left;
}
/* .banner{
  text-align: center;
  display: flex !important;
  width:1000px;
  height:864px;

} */
.container{
  text-align: center;
  display: flex !important;
  width:100%;
  height:100%;
}
.sub-container{
  /* background-color: grey;
  color:black;
  margin:20px;

  float :left; */
  text-align: left;
  justify-content:left;
  align-items: left;
  display: flex !important;
  flex-direction: column;
  width:100%;
  height:10%;
 margin-left : 2%;
  margin-top: 5%;
  background-color: lightgrey; 
  border-style: solid;
  border-color: blue;


}

.inner{
height: 50%;
width : 100%;
background-color: blue;

}



.box{
  

  display: inline-block;
  text-align: left;
  list-style-type: inherit;
  /* margin: 1em 3em 3em ; */
  margin-left: 4%;
  margin-right: 4%;
  /* border: black ridge 1px; */
  /* border-radius: 10px; */
  text-align: center;
  padding-right: 110px;
  padding-left: 100px;
  /* vertical-align: bottom; */
  width: 100px;
  height: 150px;
  /* margin-right: 10%; */
  
}

.search {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}

.banner{
  /* width:60%; */
  /* height: 200px; */
  background-color: black;
  /* margin-left: 100px; */
  /* display:flex; */

}

